### Overview:
In this analysis, we will explore the process of analyzing various movie datasets to identify trends and patterns in the types of films currently doing well at the box office. The ultimate goal is to provide actionable insights that can be used to guide decision-making at Microsoft's new movie studio.

###  Importing Libraries and Loading Data
To start, we need to import the necessary libraries and load the data into data frames. In this analysis, we will use pandas and matplotlib libraries.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
%matplotlib inline

# Load data from csv files
movies = pd.read_csv('zippedData/bom.movie_gross.csv')
ratings = pd.read_csv('zippedData/rt.movie_info.tsv', sep='\t')
budgets = pd.read_csv('zippedData/tn.movie_budgets.csv')
popular_movies = pd.read_csv('zippedData/tmdb.movies.csv', index_col = 0)

ImportError: cannot import name 'artist' from 'matplotlib' (C:\Users\Daniel Ekale\anaconda3\lib\site-packages\matplotlib\__init__.py)

In [ ]:
# Analyze the table movies
movies.head(2)

In [ ]:
# check if we have null values
movies.isna().sum()

In [ ]:
#Replace the null values in studio gross column with mode since it has categorical values
mode_studio = movies.studio.mode()[0]
movies.studio.fillna(mode_studio, inplace = True)

#Replace the null values in domestic gross column with mean
mean_domestic_gross = movies.domestic_gross.mean()
movies.domestic_gross.fillna(mean_domestic_gross, inplace = True)

#drop column foreign gross since it has more missing values;
movies.drop('foreign_gross', axis = 1).head()

In [ ]:
# Order the studios from the one that has the highest domestic gross
movies.sort_values(by='domestic_gross', ascending=False, inplace=True)
domestic_gross_by_studio  = movies.groupby(['studio'])['domestic_gross'].sum().sort_values(ascending=False).head()
domestic_gross_by_studio

In [ ]:
# Visualizing the first five studios with the highest domestic gross
fig, ax = plt.subplots(figsize=(6, 4))
ax.bar(domestic_gross_by_studio.index, domestic_gross_by_studio.values, label = "Domestic Gross")

# Set the title and axis labels
ax.set_title('Total Domestic Gross by Studio (Top 5)')
ax.set_xlabel('Studio')
ax.set_ylabel('Total Domestic Gross (in millions)')
ax.legend();

### Analyze the ratings table

In [ ]:
budgets.head(2)

In [ ]:
budgets.info()

In [ ]:
# Analyze the trend of movie releases over the years
budgets['release_date'] = pd.to_datetime(budgets['release_date'])
budgets['year'] = budgets['release_date'].dt.year
yearly_releases = budgets.groupby('year').size()

sns.set_style('whitegrid')
sns.set(rc={'figure.figsize':(6,4)})
sns.lineplot(x=yearly_releases.index, y=yearly_releases.values)
plt.xlabel('Year')
plt.ylabel('Number of movies released')
plt.title('Trend of movie releases over the years');

### Typecast the columns production budget, domestic, foreign and worlwide
To be able to use these columns we must convert the values into floats

In [ ]:
budgets['production_budget'] = budgets['production_budget'].str.replace('$', '').str.replace(',', '').astype(float)
budgets['domestic_gross'] = budgets['domestic_gross'].str.replace('$', '').str.replace(',', '').astype(float)
budgets['worldwide_gross'] = budgets['worldwide_gross'].str.replace('$', '').str.replace(',', '').astype(float)

### Generate a correlation matrix for the columns 'production_budget', 'domestic_gross', 'worldwide_gross'

In [ ]:
correlation_matrix = budgets[['production_budget', 'domestic_gross', 'worldwide_gross']].astype(float).corr()
print(correlation_matrix)

In [ ]:
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')

In [ ]:
# select rating, genre and box office column to see which one had the highest revenue at the box office
top_movies = ratings[['rating','genre','box_office']].sort_values(by='box_office', ascending = False).head()
top_movies

In [ ]:
popular_movies.head(2)

In [ ]:
popular_movies[['genre_ids', 'popularity', 'release_date','vote_average', 'vote_count']].sort_values('popularity', ascending = False).head()

In [ ]:
# creating a connection to im database
conn = sqlite3.connect('zippedData/im.db')

In [ ]:
# checking all the tables in the database
table_name_query = """SELECT name 
                      AS 'Table Names' 
                      FROM sqlite_master 
                      WHERE type='table';"""

pd.read_sql(table_name_query, conn)

### Data Understanding
To begin my analysis, I first had to understand the data provided. The data came from several sources and included various file formats. The data sources were:
1. Box Office Mojo
2. IMDB
3. Rotten Tomatoes
4. TheMovieDB
5. The Numbers

The data included information on movie titles, release dates, genres, production companies, budgets, and box office revenue. Some of the data was provided in a SQLite database, while other data was in CSV or TSV file formats.

In [ ]:
movies.head(2)

In [ ]:
ratings.head(2)

In [ ]:
# we check the null values in the dataset movies
movies.isna().sum()

In [ ]:
# We now frop the null values and replace our dataframe movies
movies.drop

### Identifying Most Successful Genres
To identify the most successful genres, we need to merge the movies and ratings data frames and group by genre to calculate the average box office revenue per genre.

In [ ]:
# Merge the movies and ratings data frames
movies_ratings = pd.merge(movies, ratings, left_on='title', right_on='title')

# Group by genre and calculate average box office revenue
genres = movies_ratings.groupby('genre')['domestic_gross'].mean().sort_values(ascending=False)